<div class="cookie-banner" id="cookie-banner">
  <div class="cookie-inner">
    <p>
      We use cookies to improve your experience and secure essential site functions.
      <a href="/privacy-policy">Learn more</a>
    </p>
    <button id="accept-cookies" class="btn-accept">Accept</button>
  </div>
</div>
