    <div class="footer">
      <div class="ind-logo">  
        <div class="glass's">
            glass's guide
         </div>
        <div class="audatex">

            audatex

        </div>

        <div class="ceva">

            ceva
        </div>

    </div>    
    <div class="Copyright">
        <p>© Copyright 2025. All Rights Reserved by MC Quote | Web Design by MC</p>
    </div> 
    </div>
    
