<nav class="navbar">
    <div class="logo">
      <a href="/"><img src="/img/logo.png" alt="MC Quote Logo" /></a>
    </div>
    <button class="mobile-menu-btn">☰</button>
    <ul class="nav-menu">
      <li><a href="/" class="nav-link">Home</a></li>
      <li><a href="/quotations" class="nav-link">Quotations</a></li>
      <li><a href="/bodyshop" class="nav-link">Bodyshop</a></li>
      <li><a href="/training" class="nav-link">Training</a></li>
      <li><a href="/pricing" class="nav-link">Princing</a></li>
      <li><a href="/contact" class="nav-link">Contact</a></li>
    </ul>
  </nav>
  