<header class="main-header">
  <div class="container">
  <div class="nav-container">
    <div class="logo">
      <a href="/">
        <img src="/img/logo.svg" alt="My Car Quote Logo" />
      </a>
    </div>
    <nav class="nav-links" id="navLinks">
      <a href="/">Home</a>
      <a href="/jobs/upload">Upload Job</a>
      <a href="/services">Bodyshop Services</a>
      <a href="/contact">Contact</a>
      <a href="/bodyshop/login">Bodyshop Login</a>
    </nav>
    <div class="burger" id="burger">&#9776;</div>
  </div>
  </div>
</header>
