
    <nav class="navbar">
        <div class="nav-header">
            <a href="/index.ejs" class="logo">
                <img src="/img/logo.png" alt=" logo">
            </a>
            <button class="mobile-menu-btn">
                <img src="/img/hamburger.png" alt="mobile-menu-btn">
            </button>
        </div>
        <ul class="nav-menu">
            <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
            <li class="nav-item"><a href="#content1" target="_top" class="nav-link">About</a></li>
            <li class="nav-item has-dropdown">
                <a href="#" class="nav-link">Services</a>
                <ul class="dropdown">
                    <li class="nav-item"><a href="/quotations" class="nav-link">Private Quotations</a></li>
                    <li class="nav-item"><a href="/bodyshop" class="nav-link">Bodyshop Support</a></li>
                    <li class="nav-item"><a href="/training" class="nav-link">Training</a></li>
                </ul>
            </li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
        </ul>
    </nav>



