<div class="page-wrapper">
    <%- include('partials/header') %>
    
<div class="container">
    
    

    <main>
            
        
            <div class="main-banner-hero">
                            
                <h1>Get Your Private Repair Quote</h1>

                <div class="quote-buttons">
                    <a href="/jobs/upload" class="quote-btn">
                        Upload Images for a Quote
                    </a>
                    <p class="upload-note">No registration needed. Fast. Secure.</p>
                </div>
                
    
            
                <h2>We provide transparent, 
                    fair repair cost estimates for <span>lease returns </span>and <span>private repairs</span> ,
                    connecting you with our trusted bodyshop network.</h2>
            
            </div>

        
    </main>

    <div id="sidebar">

        <div class="sidebar-why">

            <h1>Why Choose Us</h1>
                <p>We can provide <span>bodyshops repair quotations</span> from the comfort of your home. </p>
                <p><span>You don't need to travel to different garages</span> to obtain an written report.</p>
                <p><span>Our quote is provided by bodyshops in your area</span>, aim to deliver quotes to suit your budget. </p>
                <p>Depending on your damage severity and your budget <span>we can refer you</span> in our trusted bodyshop network.
                    </p>


            <h1>HOW</h1>
                    <p>1. <span>Send your images</span> via My Car Quote platform. <br>
                        <br>2. <span>Receive your quote confirmation </span> on the email provided. <br>
                        <br>3. Make payment and <span>download your repair quote</span>.
                    </p>
            
                          
         

        </div>


        <div class="key-services">
            <h1>Key Services</h1>
        </div>

        <div class="sidebar-bodyshop-btn">             

            <a href="bodyshop">
                <h1>Bodyshop <br> VDA Solution</h1>
            </a>
            </div>

         <div class="sidebar-quotations-btn">
            <a href="quotations">
                <h1>Private <br>Quotations</h1>
            </a>
        </div>  
        
        <div class="sidebar-training-btn">
            <a href="training">
                <h1>VDA Training</h1>
            </a>
        </div>  

    </div>

    <div id="content1">

        <div class="content1-about">
            <h1>About us</h1>
            <p>We are a team led by a highly qualified and experienced 
                Senior ATA IMI Vehicle Damage Assessor with a Diploma 
                in Mechanical Engineering and over 22 years in the motor industry. </p>
                <p>Our core strength lies in our ability to provide accurate and 
                reliable vehicle damage assessments, driven by a combination 
                of in-depth industry knowledge & technical proficiency.</p>
                <p>Key skills and qualifications include:</p>
                    <ul class="skills-qualf-list">
                        <li>Senior ATA IMI Vehicle Damage Assessor accreditation(2017, 2021,2024)</li>
                        <li>Expertise in vehicle damage assessment and repair estimation</li>
                        <li>Proficiency in industry-standard software (e.g. GT Motive, Audatex)</li>
                        <li>Strong understanding of insurance claims processes</li>
                        <li>2:1 Hons in Mechanical Engineering</li>
                    </ul>

                <p>We are committed to delivering high-quality services, 
                adhering to industry best practices, and providing our clients 
                with the information they need to make informed decisions.
                
                </p>
           
         </div>


    </div>       
                  
    <div id="content2">
        
    </div>



            <%- include('partials/footer', { headerData: footerData }) %>


  
    </div>