<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>MC Quote-Home</title>
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/footer.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel=""  as="image" href="/img/image2.png" >
    <link rel="" as="image" href="/img/caraccident.png" >
    <link rel="" as="image" href="/img/carraccident.png" >
    <link rel="" as="image" href="/img/carsaccident.png" >


</head>

<body>
        <%- include('partials/header') %>
        
    <div class="container">
        
        

        <main>
                
            
                <div class="main-banner-hero">
                                
                    <h1>Get Your Private Repair Quote</h1>

                    <div class="whatsapp-buttons">
                        <a href="https://wa.me/447448589086?text=Hi, I’d like to send images for a quote" class="whatsapp-btn" target="_blank">
                            <img src="/img/whatsapp-logo.png" alt="WhatsApp"> Send images
                        </a>
                    </div>
        
                
                    <h2>We provide transparent, 
                        fair repair cost estimates for <span>lease returns </span>and <span>private repairs</span> ,
                        connecting you with our trusted bodyshop network.</h2>
                
                </div>
    
            
        </main>

        <div id="sidebar">

            <div class="sidebar-why">

                <h1>Why Choose Us</h1>
                    <p>We can provide <span>bodyshops repair quotations</span> from the comfort of your home. </p>
                    <p><span>You don't need to travel to different garages</span> to obtain an written report.</p>
                    <p><span>Our quote is impartial</span>,  accurate aim to deliver detail reports to ensure fairness and transparency. </p>
                    <p>Depending on your damage severity and your budget <span>we can refer you</span> in our trusted bodyshop network.
                        </p>


                <h1>HOW</h1>
                        <p>1. <span>Send your images</span> via WhatsApp. <br>
                            <br>2. <span>Receive your quote confirmation </span> on the email provided. <br>
                            <br>3. Make payment and <span>download your repair quote</span>.
                        </p>
                
                              
             

            </div>


            <div class="key-services">
                <h1>Key Services</h1>
            </div>

            <div class="sidebar-bodyshop-btn">             

                <a href="bodyshop">
                    <h1>Bodyshop <br> VDA Solution</h1>
                </a>
                </div>

             <div class="sidebar-quotations-btn">
                <a href="quotations">
                    <h1>Private <br>Quotations</h1>
                </a>
            </div>  
            
            <div class="sidebar-training-btn">
                <a href="training">
                    <h1>VDA Training</h1>
                </a>
            </div>  

        </div>

        <div id="content1">

            <div class="content1-about">
                <h1>About us</h1>
                <p>We are a team led by a highly qualified and experienced 
                    Senior ATA IMI Vehicle Damage Assessor with a Diploma 
                    in Mechanical Engineering and over 22 years in the motor industry. </p>
                    <p>Our core strength lies in our ability to provide accurate and 
                    reliable vehicle damage assessments, driven by a combination 
                    of in-depth industry knowledge & technical proficiency.</p>
                    <p>Key skills and qualifications include:</p>
                        <ul class="skills-qualf-list">
                            <li>Senior ATA IMI Vehicle Damage Assessor accreditation(2017, 2021,2024)</li>
                            <li>Expertise in vehicle damage assessment and repair estimation</li>
                            <li>Proficiency in industry-standard software (e.g. GT Motive, Audatex)</li>
                            <li>Strong understanding of insurance claims processes</li>
                            <li>2:1 Hons in Mechanical Engineering</li>
                        </ul>

                    <p>We are committed to delivering high-quality services, 
                    adhering to industry best practices, and providing our clients 
                    with the information they need to make informed decisions.
                    
                    </p>
               
             </div>


        </div>       
                      
        <div id="content2">
            
        </div>


        <footer>
                <%- include('partials/footer', { headerData: footerData }) %>
        </footer>

        
    </div>
    <script src="/js/mobile-nav.js"></script>
</body>

</html>
