<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>MC Quote-Pricing</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/job-upload.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>

<body>
     <!-- views/job-upload.ejs -->
<%- include('partials/header') %>


<main>



<section class="upload-section">
  <h1>Submit Your Vehicle Images</h1>

  <script src="https://www.google.com/recaptcha/api.js" async defer></script>

  <form action="/jobs/upload" method="POST" enctype="multipart/form-data">
    <label for="name">Your Name:</label>
    <input type="text" name="name" id="name" required>

    <label for="email">Your Email:</label>
    <input type="email" name="email" id="email" required>

    <label for="location">Your Location (City/Postcode):</label>
    <input type="text" name="location" id="location" required>

    <label for="images">Upload Images (max 8):</label>
    <input type="file" name="images" id="images" accept="image/*" multiple required>

    

    <div class="g-recaptcha" data-sitekey="6LdiViwrAAAAAITGILKol9WCjLr2_Y_67xOS0YMb"></div> 
    
    <button type="submit">Submit Job</button>
      

  </form>

</section>
</main>

<footer>
<%- include('partials/footer') %>
</footer>

    <script src="/js/mobile-nav.js"></script>
</body>

</html>
