<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MC Quote</title>
   <!--<link rel="stylesheet" href="/public/css/reset.css">-->
   <link rel="stylesheet" href="css/navbar.css">
   <link rel="stylesheet" href="css/styles.css">
   <link rel="stylesheet" href="css/reset.css">
   <link rel="stylesheet" href="css/contact.css">
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>

<!-- Include Header -->    

<%- include('partials/header') %>

    <!-- Hero Section -->
  <section class="hero">
    <h1>Training</h1>
    <p>Providing professional services with excellence and integrity.</p>
    <img src="/img/MC Quote copy.png" alt="Placeholder Image">
  </section>


    <!-- Main Content -->
    <div class="container">
      <h2>About Us</h2>
      <p>We are committed to delivering top-notch services to our clients, ensuring satisfaction and value.</p>
    </div>


<!-- Include Footer -->
<%- include('partials/footer') %>

<script src="/js/mobile-nav.js"></script>
</body>


</html>