.main-footer {
  background: linear-gradient(to right, rgb(255, 255, 255), #004b91);
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 0.95rem;
  }
  
  .footer-content {
    max-width: 900px;
    margin: 0 auto;
  }
  
  .footer-links {
    margin-top: 10px;
  }
  
  .footer-links a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 0.95rem;
  }
  
  .footer-links a:hover {
    color: white;
  }
  
  @media (max-width: 768px) {
    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 15px;
    }
  
    .footer-links a {
      margin: 0;
    }
  }
  