/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-color: #f3f8fc;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  

  ol, ul {
    list-style: none;
  }
  
 
  img {
    max-width: 100%;
  }
  
  /* Removes spacing between cells in tables */
  table {
    border-collapse: collapse;
  }
  
  /* Revert the 'white-space' property for textarea elements on Safari */
  textarea {
    white-space: revert;
  }

  .page-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 1rem;
    width: 100%;
  }
  
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  