<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title>MC Quote-Pricing</title>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/pricing.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">


</head>

<body>

    <div class="page-wrapper">
        <%- include('../partials/header') %>
        

        
        

        <main>
            <section class="pricing-section">
                <h1 class="section-title">Our Fees</h1>
                <p class="section-subtitle">Transparent, fair pricing for all our services</p>
        
                <div class="pricing-grid">
                    <div class="price-card">
                        <h3>Private Quotation for Repairs</h3>
                        <p>Independent repair cost estimate</p>
                        <span class="price">£25</span>
                    </div>
        
                    <div class="price-card">
                        <h3>Accident Damage Inspection</h3>
                        <p>Detailed report for insurance/legal use</p>
                        <span class="price">£75 - £120</span>
                    </div>
        
                    <div class="price-card">
                        <h3>Bodyshop Support Package</h3>
                        <p>On-site assessment & support</p>
                        <span class="price">From £100/day</span>
                    </div>
        
                    <div class="price-card">
                        <h3>Training</h3>
                        <p>Vehicle Damage Assessing Booster</p>
                        <span class="price">From £150/hour</span>
                    </div>
                </div>
            </section>
        </main>
        
     
        <%- include('../partials/footer') %>
  

    </div>
    <script src="/js/navbar-toggle.js"></script>
</body>

</html>
