<!--views/jobs/extension-confirmation.ejs-->
<!DOCTYPE html>
<html>
<head>
  <title>Extension Confirmed</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="confirmation-container">
    <h1>Thank You!</h1>
    <p>Your job <strong>#<%= job.id %></strong> has been extended by 24 hours.</p>
    <p>You will be notified as soon as new quotes arrive.</p>
    <a href="/" class="btn">Return to Homepage</a>
  </div>
</body>
</html>