<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Job Submitted</title>
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/styles.css">
   <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/upload-success.css">
</head>
<body>
  <div class="page-wrapper">
    <main class="upload-feedback-main">
      <div class="upload-feedback-box">
        <h2>✅ Job Submitted Successfully</h2>
        <p>Your job has been submitted and is awaiting approval by our admin team.</p>
        <a href="/" class="btn-home">← Back to Homepage</a>
      </div>
    </main>
    <%- include(../partials/footer') %>
  </div>


<script src="/js/navbar-toggle.js"></script>
</body>
</html>
